html {
    background-color: #1a1917;
}
.container {
    margin: auto;
    width: 960px;
    text-align: center;
}
h1 {
    font-family: 'Patua One', cursive;
    font-size: 50px;
    color: #fff;
}
h2 {
    font-family: 'Patua One', cursive;
    font-size: 40px;
    color: #fff;
}
h3 {
    font-size: 45px;
    font-family: 'Cinzel', serif;
    color: #fff;
}
h4 {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: #fff;
}
.crystalImage {
    height: 200px;
    width: 150px;
    outline: none;
}
.crystalImage:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}
button {
    background-color: #1a1917;
    margin: auto;
    padding: 10px;
    /* cursor: pointer; */
    margin-left: 10px;
    border: none;
    margin-top: 60px;
    outline: none;
}
.crystalImage:active {
    border: none;
    outline: none;
}
.pointValue1, .pointValue2, .pointValue3, .pointValue4 {
    font-family: 'Patua One', cursive;
    color: #fff;
    size: 20px;
}
#alert {
    font-family: 'Patua One', cursive;
    color: #fff;
    font-size: 75px;
}
@media only screen and (max-width: 840px) {
    .container {
        width: 100%;
        font-size: 40px;
    }
    .crystalImage {
        height: 100px;
        width: 100px;
    }
}